<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>get all user</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="row col-11 ml-4">
      <div class="row col-10">danh sách all user</div>
      <div class="col-2">
        <a href="/about" class=""
          ><button type="submit" class="btn btn-primary">thêm</button></a
        >
      </div>
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">password</th>
            <th scope="col">chức vụ</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < datatable.length; i++) { %>
          <tr>
            <td><%= datatable[i].userName %></td>
            <td><%= datatable[i].email %></td>
            <td><%= datatable[i].passWord %></td>
            <td><%=datatable[i].userType %></td>
            <td class="">
              <a href="/edit-user?id=<%=datatable[i].id%>" class="">
                <button type="submit" class="btn btn-warning">sửa</button></a
              >
              <a href="/delete-user?id=<%=datatable[i].id%>" class=""
                ><button type="submit" class="btn btn-danger">xóa</button></a
              >
            </td>
          </tr>

          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
